<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties>
		<property name="driver" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://47.110.90.203:3306/wechat"></property>
		<property name="username" value="root"></property>
		<property name="password" value="Kimi-886"></property>
	</properties>

	<settings>
		<setting name="cacheEnabled" value="true"></setting>
	</settings>

	<!-- 类型别名 -->
	<typeAliases>
		<typeAlias alias="reserver" type="org.apache.ibatis.kimi.Reserver" />
	</typeAliases>

	<!--环境 -->
	<environments default="development">
		<environment id="development"><!--采用jdbc 的事务管理模式 -->
			<transactionManager type="JDBC">
				<property name="..." value="..." />
			</transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	<!--映射器 告诉 MyBatis 到哪里去找到这些语句 -->
	<mappers>
		<mapper resource="resources/ReserverMapper.xml" />
	</mappers>
</configuration>